body{
    background-color: rgb(23, 55, 172);
    background-color: #91B5C9;
}

body, ul, li, p{
    margin: 0%;
    padding: 0%;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;  
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto
}

a{
    text-decoration: none;
    color: rgb(161, 216, 198);
}

h1{
    text-align: center;
    margin-top: 100px;
}

img{
    max-width: 100%;
    display: block;
}
footer{
    height: 20px;
    background-color:rgb(226, 64, 64);    
    padding: 20px 10px;
}
.header{
    background:rgb(226, 64, 64);    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-height: 70px;

}

    
.menu{
    display: flex;
}

.menu li{
    margin-left: 20px;
}
/*
.menu li a{
    display: block;
    padding: 10px;
}
*/
.logo{
    width: 400px;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.container > div{
    flex: 1 1 200px;
    
}

.div-left{
    background-color: #4D6C7D;
    border: solid  #4D6C7D;
    border-radius: 5px;
    margin: 0.5%;  
    max-height: 600px;    
   /* overflow: scroll;*/
}

.div-buttons{
    margin-bottom: 50px; 

}

#btn-busca{
    display: inline;
}

.comparation{
    height: 200px;
    margin: 1%; 
    background-color: #4D6C7D;
    border: solid  #4D6C7D;
    border-radius: 5px;
}

.grafico{
    margin: 1%;
    background-color: #4D6C7D;
    border: solid  #4D6C7D;
    border-radius: 5px;
    height: 380px;
}

#cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: scroll;
    max-height: 540px; 
}

.card {
    box-shadow: 0 4px 8px 0 black;
    transition: 0.1s;
    padding: 2px 6px;
    margin: 5px;
    display: inline-flex;
    display: block;
    background-color: gainsboro;
    border: solid thick gray;
    border-radius: 10px;

}
  
.card:hover {
    box-shadow: 0 12px 24px 0  whitesmoke;
    transform: rotatex(20deg);
}


 
.card img{
    width: 100%;
}
.card p{
    width: 100%;
    color: aliceblue;
    align-items: center;
    text-align: center;
    display: inline-flex;
    background-color: gray;
    border-radius:4px;
    text-align: center;
   
}
#name{
    font-display: Arial;
    text-align: center; /*Não funcionou... n sei como fazer :/ */
    border-radius: 5px;
}

.main{
    width: 100%;
    height: 100%;
    
}

.container{
    width: 100%;
    height: 100%;
    
}
.comparation-poke{
    display:flex;
    padding: 1%;
    align-items: center;
}

.search{
    display: flex;
}






/*
.container{
    background-color: #FF8161;
    background-color: rgb(208, 236, 227);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
   
    
}


.card{
    display: grid;
    max-width: 800px;
    margin: 0 auto;
    grid-gap: 20px;

}
.container > div
*/

/**{
    margin: 0;
    padding: 0;  
    text-decoration: none;
    list-style-type: none;
    color: #000;
}

header{
    background-color:red;
    width: auto;
    height: 80px;
    text-align: center;
    padding: 10px;  
    margin-bottom: 50px;  
}

/*


section{
    width: auto;
    height: 700px;
    
}

main{
    width: auto;
    height: auto;
}

#btn-busca{
    cursor: pointer;
}
#divBusca{
    background-color: white;
    border:solid 1px;
    border-radius:5px;
    width:280px
  }
   
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:250px;
  }

*/
