body {
    background-color: rgb(23, 55, 172);
    background-color: #91B5C9;
   /* background-image: url(pokbg.jpg);*/
    background-image: url(pokk.png);
    /*background-image: url(z7_wYb9-YSvt0pDJlDIu8iuK_aWdqZPg0wvrGdwNvBw.png);*/
    background-image: url(pokbg.jpg);
   

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

body,
ul,
li,
p {
    margin: 0%;
    padding: 0%;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;  
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto

}

a {
    text-decoration: none;
    color: rgb(161, 216, 198);
}

h1 {
    text-align: center;
    margin-top: 100px;
}

img {
    max-width: 100%;
    display: block;
}

.header {
    align-items: center;
    padding: 20px;
    max-height: 70px;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 20px;
}


/*
.menu li a{
    display: block;
    padding: 10px;
}
*/

.logo {
    width: 400px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.container>div {
    flex: 1 1 200px;
}

.div-left {
    background-color: #E1E8D1;
    /* border: solid thin rgba(128, 0, 0);*/
    background-color: rgba(128, 0, 0, 0.253);
    backdrop-filter: 0.5;
    margin: 0.5%;
    max-height: 600px;
    /* overflow: scroll;*/
}

.div-buttons {
    margin-bottom: 50px;
}

#btn-busca {
    display: inline;
}

.comparation {
    height: 200px;
    margin: 1%;
    background-color: rgb(0, 46, 128, 0.5);
    /* border: solid thin rgba(128, 0, 0);*/
    background-color: rgba(128, 0, 0, 0.253);
}

.grafico {
    margin: 1%;
    background-color: rgb(0, 46, 128, 0.5);
    /* border: solid thin rgba(128, 0, 0);*/
    background-color: rgba(128, 0, 0, 0.253);
    height: 380px;
}

#cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: scroll;
    max-height: 540px;
}

.card {
    box-shadow: 0 4px 8px 0 black;
    transition: 0.1s;
    padding: 2px;
    margin: 5px;
    display: inline-flex;
    display: block;
    background-color: white;
    border-radius: 2px;
}

.name-card {
    background-color: ;
    width: 100%;
    display: flexbox;
    border: solid thin black;
    margin-top: 1.5em;
}

.card:hover {
    box-shadow: 0 12px 24px 0 whitesmoke;
    transform: rotatex(20deg);
}

.card img {
    width: 100%;
}

.card p {
    width: 100%;
    color: black;
    align-items: center;
    text-align: center;
    display: inline-flex;
    border-radius: 4px;
    text-align: center;
}

#name {
    font-display: Arial;
    text-align: center;
    /*Não funcionou... n sei como fazer :/ */
    border-radius: 5px;
    text-decoration-color: #E1E8D1 width: 100%;
}

.main {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
}

.comparation-poke {
    display: flex;
    padding: 1%;
    align-items: center;
}

.search {
    display: flex;
}


/*
.container{
    background-color: #FF8161;
    background-color: rgb(208, 236, 227);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
   
    
}


.card{
    display: grid;
    max-width: 800px;
    margin: 0 auto;
    grid-gap: 20px;

}
.container > div
*/


/**{
    margin: 0;
    padding: 0;  
    text-decoration: none;
    list-style-type: none;
    color: #000;
}

header{
    background-color:red;
    width: auto;
    height: 80px;
    text-align: center;
    padding: 10px;  
    margin-bottom: 50px;  
}

/*


section{
    width: auto;
    height: 700px;
    
}

main{
    width: auto;
    height: auto;
}

#btn-busca{
    cursor: pointer;
}
#divBusca{
    background-color: white;
    border:solid 1px;
    border-radius:5px;
    width:280px
  }
   
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:250px;
  }

*/